In [1]:
%matplotlib inline

In [2]:
from Bio import SeqIO
import pandas as pd

# Write simple TSV viles from genbank input

In [148]:
# phage_to_test = 't7'
# phage_to_test = 'lambda'
# phage_to_test = 'phix174'
phage_to_test = 'phix174_2019'
genbank_loc = '../Data/benchmark_viruses/{}.gb'.format(phage_to_test)
genome = list(SeqIO.parse(genbank_loc, 'genbank'))
assert len(genome) == 1
genome = genome[0]

In [149]:
starts, stops, strands = [], [], []
for feature in genome.features:
    if feature.type == 'CDS':
        if len(feature.location.parts) > 1:
            starts.append(int(feature.location.parts[0].start))
            stops.append(int(feature.location.parts[-1].end))
            assert len(set([i.strand for i in feature.location.parts]))
            strands.append(int(feature.location.parts[0].strand))
        else:
            starts.append(int(feature.location.start))
            stops.append(int(feature.location.end))
            strands.append(int(feature.location.strand))
assert len(starts) == len(stops) and len(starts) == len(strands)

In [150]:
df = pd.DataFrame(list(zip(starts, stops, strands)), columns=['Start', 'Stop', 'Strand'])
df.head()

   Start  Stop  Strand
0   3980   136       1
1   4496   136       1
2   5074    51       1
3     50   221       1
4    132   393       1

In [151]:
df['Strand'] = df['Strand'].replace(1, '+')
df['Strand'] = df['Strand'].replace(-1, '-')
df.head()

   Start  Stop Strand
0   3980   136      +
1   4496   136      +
2   5074    51      +
3     50   221      +
4    132   393      +

In [152]:
df.to_csv(genbank_loc.replace('.gb', '.actual.tsv'), sep='\t')

# Write simple TSV files from gff3 input

In [172]:
# phage_to_test = 't7'
# phage_to_test = 'lambda'
# phage_to_test = 'phix174'
phage_to_test = 'phix174_2019'
gff3_loc = '../Data/benchmark_viruses/{}.prodigal.gff3'.format(phage_to_test)
gff3_df = pd.read_csv(gff3_loc, comment='#', sep='\t', header=None)

In [173]:
df = gff3_df[[3, 4, 6]]
df.columns =['Start', 'Stop', 'Strand']
df.head()

   Start  Stop Strand
0     51   221      +
1    390   848      +
2    848   964      +
3   1001  2284      +
4   2395  2922      +

In [174]:
df.to_csv(gff3_loc.replace('.gff3', '.tsv'), sep='\t')